* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

*::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

a {
  text-decoration: none;
}
