.contact-section {
  margin: 0;
  font-family: Arial;
  background: #fcf8f8;
}

.contact-section {
  padding: 40px;
  text-align: center;
}

.subtitle {
  color: #777;
  margin-bottom: 30px;
}

.contact-wrapper {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.contact-info,
.contact-form {
  background: #f9dfdf;
  padding: 20px;
  border-radius: 10px;
  width: 350px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  transition: 0.3s;
}

.contact-info:hover,
.contact-form:hover {
  transform: translateY(-5px);
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.contact-section button {
  margin-top: 15px;
  width: 100%;
  padding: 12px;
  border: none;
  background: #f5afaf;
  color: white;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.contact-section button:hover {
  background: #e99696;
}

.error {
  color: red;
  font-size: 13px;
}

#successMessage {
  margin-top: 10px;
  color: green;
  font-weight: bold;
}

.map {
  margin-top: 40px;
}
.logo {
  width: 180px;
  height: auto;
}
