.col-12-350 {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
}

@media (max-width: 350px) {
  .col-12-350 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.footer {
  position: relative;
  overflow: hidden;
  background: var(--bg);
}

.footer * {
  font-family: var(--font-family);
}

.footer__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    -120deg,
    var(--primary),
    var(--secondary),
    var(--tertiary)
  );
}

.footer__brand-logo {
  display: grid;
  place-items: center;
}

.footer__brand-logo img {
  width: min(100%, 250px);
}

.footer__contact {
  color: var(--bg-light);
  text-align: center;
  margin-top: -30px;
}

.footer__card {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.footer__card-title {
  color: var(--bg-light);
  font-weight: 700;
  font-size: 20px;
  margin-top: 10px;
}

.footer__link {
  color: var(--bg-light);
  font-size: 18px;
  margin-bottom: 10px;
  transition: 0.3s ease;
  position: relative;
  width: fit-content;
}

.footer__link:hover {
  color: var(--bg-light);
}

.footer__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  z-index: 10;
  width: 0;
  height: 1px;
  background: var(--bg-light);
  transition: 0.15s;
}

.footer__link:hover::after {
  width: 100%;
}

.footer__newsletter {
  max-width: 500px;
  margin-inline: auto;
  margin-top: -40px;
}

.footer__newsletter-title {
  color: var(--bg-light);
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 10px;
}

.footer__newsletter input {
  background: var(--bg-light);
  color: var(--primary);
}

.footer__newsletter input:focus {
  box-shadow: none;
  border: none;
  color: var(--primary);
}

.footer__newsletter button {
  margin-top: 10px;
  background: var(--primary);
  color: var(--bg-light);
  font-weight: 700;
  padding: 5px 10px;
  border-radius: 20px;
  border: 1px solid var(--bg-light);
  transition: 0.3s ease;
}

.footer__newsletter button:hover {
  background: var(--bg-light);
  color: var(--primary);
}

.footer__middle {
  padding: 20px 0;
}

.footer__social {
  display: flex;
  gap: 10px;
  color: var(--bg-light);
  display: flex;
  align-items: center;
  margin-top: 20px;
  /* justify-content: center; */
  margin-left: calc(100vw / 15);
  position: relative;
  z-index: 99;
}

.footer__social::before {
  content: "Follow us:";
  font-weight: 800;
  font-size: 20px;
}

.footer__social-item {
  color: var(--primary);
  background: var(--bg-light);
  border-radius: 50%;
  width: 40px;
  height: auto;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  font-size: 22px;
  cursor: pointer;
}

.footer__social-item:hover {
  color: var(--primary);
}

.footer__payment {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  justify-content: end;
  margin-right: calc(100vw / 15);
}

.footer__payment i {
  color: var(--bg-light);
  font-size: 40px;
}

.footer__name {
  color: var(--bg-light);
  font-weight: 900;
  font-size: min(calc(100vw / 8), 100% * 13);
  margin-top: -10px;
  line-height: 1;
}

.footer__copyright {
  color: var(--bg-light);
  margin-top: -20px;
}

@media (max-width: 350px) {
  .footer__contact {
    margin-top: -20px;
  }
  .footer__contact p {
    margin-bottom: 5px;
    font-size: 11px;
  }

  .footer__card-title {
    margin-top: 15px;
    font-size: 13px;
  }

  .footer__link {
    font-size: 11px;
    margin-bottom: 5px;
  }

  .footer__newsletter-title {
    margin-top: -30px;
    font-size: 13px;
  }

  .footer__newsletter input {
    font-size: 12px;
  }

  .footer__newsletter button {
    font-size: 12px;
  }

  .footer__social {
    margin-top: 0;
  }

  .footer__social::before {
    display: none;
  }

  .footer__social-item {
    width: 30px;
  }

  .footer__social-item i {
    font-size: 15px;
  }

  .footer__payment i {
    font-size: 30px;
  }

  .footer__copyright {
    font-size: 11px;
    margin-top: -30px;
  }
}
