@import url(variable.css);
/*=============== GOOGLE FONTS ===============*/

/*=============== VARIABLES CSS ===============*/
header {
  --header-height: 2rem;
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --black-color: var(--primary);
  --black-color-light: var(--secondary);
  --black-color-lighten: var(--tertiary);
  --white-color: var(--bg-light);
  --body-color: hsl(220, 100%, 97%);
  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --normal-font-size: 0.938rem;
  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

header * {
  padding: 0;
  margin: 0;
}

header a:hover {
  color: white;
}
/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
  header {
    --normal-font-size: 1rem;
  }
}
/*=============== BASE ===============*/
body::-webkit-scrollbar {
  width: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/*=============== HEADER ===============*/
.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(
    120deg,
    var(--secondary),
    var(--primary),
    var(--primary),
    var(--tertiary)
  );
  box-shadow: 0 2px 16px hsla(220, 32%, 8%, 0.3);
  z-index: var(--z-fixed);
}
/*=============== NAV ===============*/
.nav {
  display: flex;
  align-items: center;
}
nav.nav.container-xl {
  padding: 0 20px;
  display: flex;
  align-items: center;
}
.nav__logo,
.nav__burger,
.nav__close {
  color: var(--white-color);
}
.nav__data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  display: inline-flex;
  align-items: center;
  column-gap: 0.15rem;
  font-weight: var(--font-semi-bold);
  padding: 10px 0;
}
.nav__logo img {
  width: 60px;
}
.nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
}
.nav__burger,
.nav__close {
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font-size: 1.25rem;
  cursor: pointer;
  transition:
    opacity 0.1s,
    transform 0.4s;
}
.nav__close {
  opacity: 0;
}
.nav__list {
  margin: 0;
  padding: 0px;
}
.nav__link {
  padding: 20px 0;
  transition: all 0.3s ease-in-out;
}

.nav__link a {
  text-decoration: none;
  color: white;
}
/* Navigation for mobile devices */
@media screen and (max-width: 899px) {
  nav.nav.container-xl {
    padding: 0 12px;
  }
  .nav__data {
    width: 100%;
    height: 3rem;
  }
  .nav__logo img {
    width: 50px;
  }
  .nav__menu {
    position: fixed;
    top: 3rem;
    left: 0;
    width: 100%;
    height: calc(100vh - 3rem);
    background-color: transparent;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition:
      opacity 0.3s,
      transform 0.3s;
  }
  .nav__menu::-webkit-scrollbar {
    width: 0;
  }
  .nav__list {
    width: 100%;
  }
  .nav__link {
    width: 100%;
    padding-inline: 1rem;
  }
  .nav__menu::-webkit-scrollbar {
    width: 0;
  }
  .nav__list {
    background-color: var(--black-color);
    padding-top: 0rem;
  }
  .dropdown__link {
    width: 100vw;
  }

  .dropdown__sublink {
    width: calc(100vw);
  }

  .dropdown__link.active,
  .dropdown__sublink.active {
    background-color: var(--black-color);
  }
  /* Show dropdown menu & submenu */
  .dropdown__item.active > .dropdown__menu,
  .dropdown__subitem.active > .dropdown__submenu {
    max-height: 1000px;
    transition: max-height 0.4s ease-in;
  }

  .dropdown__item.active .nav__link {
    background: var(--black-color-light);
  }
  /* Rotate dropdown icon */
  .dropdown__item.active .dropdown__arrow {
    transform: rotate(180deg);
  }
}
.nav__link {
  color: var(--white-color);
  background-color: transparent;
  font-weight: var(--font-semi-bold);
  padding: 17px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s;

  div {
    display: flex;
    align-items: center;
  }
}
.nav__link--active {
  background: var(--black-color-light);
}
.nav__link-logo {
  font-size: 22px;
  font-weight: 200;
  margin-right: 10px;
}
/* Show menu */
.show-menu {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
  width: 100vw;
}
/* Show icon */
.show-icon .nav__burger {
  opacity: 0;
  transform: rotate(90deg);
}
.show-icon .nav__close {
  opacity: 1;
  transform: rotate(90deg);
}
/*=============== DROPDOWN ===============*/
.dropdown__item {
  cursor: pointer;
}
.dropdown__arrow {
  font-size: 1.25rem;
  font-weight: initial;
  transition: transform 0.4s;
}
.dropdown__link,
.dropdown__sublink {
  padding: 1.25rem 1.25rem 1.25rem 1.5rem;
  color: var(--white-color);
  background-color: var(--black-color-light);
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-weight: var(--font-semi-bold);
  transition: background-color 0.3s;
}
.dropdown__link i,
.dropdown__sublink i {
  font-size: 1.25rem;
  font-weight: initial;
}
.dropdown__link div {
  display: flex;
  white-space: nowrap;
  align-items: center;
  gap: 5px;
  margin-right: 20px;
}
.dropdown__menu,
.dropdown__submenu {
  width: fit-content;
  max-height: 0;
  overflow: auto;
  transition: max-height 0.4s ease-out;
  padding: 0;
  margin: 0;
}
/*=============== DROPDOWN SUBMENU ===============*/
.dropdown__add {
  margin-left: auto;
}
.dropdown__sublink {
  background-color: var(--black-color-lighten);
}
/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .nav__link {
    padding-inline: 1rem;
  }
}
/* For large devices */
@media screen and (min-width: 900px) {
  .nav {
    height: calc(var(--header-height) + 2rem);
    display: flex;
    justify-content: space-between;
  }
  .nav__toggle {
    display: none;
  }
  .nav__list {
    height: 100%;
    display: flex;
    padding: 0;
  }
  .nav__link {
    height: 100%;
    justify-content: initial;
    column-gap: 0.25rem;
  }
  .nav__link:hover {
    background-color: var(--black-color-light);
  }
  .nav__link-logo {
    display: none;
  }
  .dropdown__item,
  .dropdown__subitem {
    position: relative;
  }
  .dropdown__menu,
  .dropdown__submenu {
    max-height: initial;
    overflow: initial;
    position: absolute;
    left: 0;
    top: 6rem;
    opacity: 0;
    pointer-events: none;
    transition:
      opacity 0.3s,
      top 0.3s;
  }
  .dropdown__link,
  .dropdown__sublink {
    padding-inline: 1rem 1rem;
    white-space: nowrap;
  }

  .dropdown__link:hover {
    background-color: var(--black-color-lighten);
  }
  .dropdown__sublink:hover {
    background: var(--black-color);
  }
  .dropdown__subitem .dropdown__link {
    padding-inline: 1rem;
  }
  .dropdown__submenu {
    position: absolute;
    left: 100%;
    top: 0.5rem;
  }
  /* Show dropdown menu */
  .dropdown__item:hover .dropdown__menu {
    opacity: 1;
    top: 4rem;
    pointer-events: initial;
    transition: top 0.3s;
  }
  /* Show dropdown submenu */
  .dropdown__subitem:hover > .dropdown__submenu {
    opacity: 1;
    top: 0;
    pointer-events: initial;
    transition: top 0.3s;
  }
}
