body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fcf8f8;
}

.logo {
  width: 200px;
  display: block;
  margin: 5px auto;
}

.banner {
  text-align: center;
  padding: 60px 20px;
  background-color: #fbefef;
}

.banner h2 {
  color: #f5afaf;
  font-size: 32px;
}

.banner button {
  background-color: #f5afaf;
  border: none;
  padding: 12px 25px;
  color: white;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
}

.banner button:hover {
  background-color: #f9dfdf;
  color: #333;
}

.products {
  padding: 40px;
  text-align: center;
}

.product-list {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.product-card {
  background: white;
  padding: 15px;
  border-radius: 15px;
  width: 200px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.product-card:hover {
  background-color: #fbefef; /* hồng nhạt */
  transform: translateY(-5px);
}

.product-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.product-card h3 {
  color: #f5afaf;
}

.price {
  font-size: 14px;
}

.old-price {
  text-decoration: line-through;
  color: #999;
  margin-right: 8px;
}

.new-price {
  color: #f5afaf;
  font-weight: bold;
}
