@import url(variable.css);

.scroll-top {
  position: fixed;
  right: 10px;
  bottom: 50px;
  background: var(--bg-light);
  border-radius: 50%;
  height: fit-content;
  width: auto;
  aspect-ratio: 1;
  border: 1px solid var(--border-muted);
  font-weight: 600;
  display: grid;
  place-items: center;
  color: var(--primary);
}
